<launch>
    <node  pkg="tiscamera_ros" name="tiscamera_ros" type="tiscamera_ros" output="screen">
        <!-- // should be divisible by 800  -->
        <param name="sync_rate" type="int" value="10"/>
        <param name="imu_source" type="str" value="mavros"/>
	<param name="mean_delay" type="double" value="0.02"/>
        <param name="max_slack" type="double" value="0.05"/>
        <param name="max_imu_read_jitter" type="double" value="0.01"/>
        <rosparam file="$(find tiscamera_ros)/launch/device_list4_sync.yaml"/>
        <rosparam file="$(find tiscamera_ros)/launch/param_37UX273_ML.yaml" ns="37UX273_ML"/>
        <rosparam file="$(find tiscamera_ros)/launch/camchain-brbl.yaml" ns="calibration"/>
        <rosparam file="$(find tiscamera_ros)/launch/camchain-flbl.yaml" ns="calibration"/>
        <rosparam file="$(find tiscamera_ros)/launch/camchain-frbr.yaml" ns="calibration"/>
        <rosparam file="$(find tiscamera_ros)/launch/camchain-frfl.yaml" ns="calibration"/>
    </node>
</launch>
